@import "./src/assets/colors";

.continer {
    display: flex;
    border-bottom: 2px solid $Medium;
    gap: 80px;
}

.tab {
    padding: 40px 24px;
    font-weight: 600;
    font-size: 16px;
    line-height: 24px;
    color: $Secondary;
    transition: color 1s;
    &:hover {
        transition: color 0s;
        cursor: pointer;
        color: $Primary;
    }
}

.activeTab {
    border-bottom: 3px solid $Secondary;
    transition: all 1s;
}

.disabled {
    color: $Gray;
    &:hover {
        cursor: not-allowed;
        color: $Gray;
    }
}

.darkContiner { 
    .tab {
        transition: all 1s;
        color: $White;
        &:hover {
            transition: color 0s;
            color: $Primary-secondary;
        }
    }
    .activeTab {
        border-bottom: 3px solid White;
        transition: all 1s;
    }
    
}

.darkDisabled {
        color: $Gray !important;
        transition: color 0s;
        &:hover {
            transition: color 0s;
            cursor: not-allowed;
            color: $Gray;
        }
}