@import "./src/assets/colors";

.wrapper {
    display: flex;
    width: 100%;
    justify-content: center;
    margin-bottom: 80px;
}

.frame {
    border: 1px solid $Medium;
    padding: 40px;
    max-width: 624px;
    box-sizing: border-box;
    background-color: $Extra-light !important;
    display: flex;
    flex-direction: column;
    gap: 48px;
}

.darkFrame {
    background-color: $Secondary !important;
    border: 1px solid $Gray;
    transition: all 1s;
}

.lightFrame {
    transition: all 1s;
    background-color: $White;
}