@import "./src/assets/colors";

.btn {
  border-right: 1px solid $Primary-secondary!important;
  border-radius: 0;
  padding: 0;
  width: 84px;
  height: 84px;
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 30px 0 !important;
  &:hover {
    background-color: $Primary !important;
  }
}

