.container {
    display: flex;
    gap: 30px;
    margin-top: 64px;
}

.mediumContainer {
    margin-top: 38px;
    display: flex;
    flex-wrap: wrap;
    max-width: 736px;
    gap: 40px 32px;
}

.reghSideContainer {
    display: flex;
    flex-direction: column;
    gap: 38.1px;
}